.homepage {
    position: relative;
    background-image: url('../assets/homepage.jpg');
    background-size: 132% auto; /* Ajusta a largura para 120% e mantém a altura automática */
  background-position: left center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: left;
}

.homepage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Ajuste a opacidade (o último valor) conforme necessário */
    z-index: 0; /* Coloca o overlay abaixo do conteúdo */
  }

.text-content{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    text-align: left;
}

h1{
    font-size: 6rem;
    margin: 0;
}
h2{
    font-size: 5.5rem;
    margin: 0;
}

p{
    font-size: 1.5rem;
}

.mainButton{
    display: inline-block;
    cursor: pointer;
      padding: 25px 45px;
      font-size: 1.1rem;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      background-color: #FC7417;
      color: white;
      border: none;
      border-radius: 15px;
      transition: background-color 0.3s ease;
      margin-right: 2rem;
}

.mainButton:hover {
    color: #fff;
    background-color: #FC6E17;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }

.mainButton a,
.blackButton a {
  text-decoration: none; /* Remove a decoração de texto padrão do link */
  color: white; /* Define a cor do texto para branco */
}

.blackButton {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  font-size: 1.1rem;
  border-radius: 15px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  padding: 25px 45px;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.blackButton:disabled {
  pointer-events: none;
}

.blackButton:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.blackButton:active {
  box-shadow: none;
  transform: translateY(0);
}

.button-container{
  padding-top: 5rem;
}

